:root {
  --color-fondo: #F9F8F6; 
  --color-texto: #4A4A4A; 
  --color-texto-suave: #7A7A7A; 
  --color-primario: #7E9285; 
  --color-secundario: #A89FAD; 
  --color-acento: #D4A373; 
  --color-tarjetas: #FFFFFF; 
}

/* Reset básico para que todo se vea limpio */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: 'Arial', sans-serif; /* Luego le pondremos una fuente más elegante */
}

/* --- TIPOGRAFÍAS --- */
h1, h2, h3, h4 {
  font-family: var(--font-playfair), serif;
  font-weight: 400; /* Las fuentes elegantes lucen mejor delgadas */
}

body, p, a, button, span {
  font-family: var(--font-lato), sans-serif;
  font-weight: 300;
}